[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pre-commit = "*"
environ = "*"
django-environ = "*"
django-debug-toolbar = "*"
pydantic = "*"
tiktoken = "*"
httpx = "*"
openai = "==0.28"
pypdf2 = "*"
pymupdf4llm = "*"
google-generativeai = "*"
pgvector = "*"
psycopg2 = "*"
pandas = "*"
python-dotenv = "*"
stripe = "*"
ngrok = "*"
sendgrid = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
